body {
    margin: 0px;
    padding: 0px;
    background-color: #353535;
}
section {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 900px ;
}
.form_title {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    color: #D2D7DF;
}
.reg_form {
    display: flex;
    /*flex-grow FAZ COM QUE O ELEMENTO OCUPE O ESPAÇO RESTANTE EM RELAÇÃO A LINHA.*/
    flex-grow: 1;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.submit {
    width: 320px;
    margin-right: auto;
    margin-left: auto ;
}
